<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">OurBlog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link" href="/articles">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/about">About Us</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/articles/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/signOut">Sign Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/user/signUp">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/signIn">Sign In</a>
                </li>
            {% endif %}
        </ul>

      </div>
    </nav>
