{% extends "layout.html" %}

{% block body %}

<!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h2 class="fw-bolder mb-1">{{ article.title}}</h2>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on {{ article.created_date}} by {{ article.author.username }}</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                        </header>

                        <!-- Preview image figure-->
                        <!--<figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>-->

                        <!-- Post content-->
                        <section class="mb-5">
                            <p>{{ article.content }}</p>
                        </section>
                    </article>

                </div>

            </div>
        </div>

{% endblock body %}